*{
    box-sizing: border-box;
}
html {
    font-size: 18px;
}

body {
    position: relative;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 1rem;
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.wrapper {
    display: grid;
    place-items: center ;
    height: 90vh;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start center;
    gap: 1rem;
}

.categories li, .products li {
    margin: 20px 0;
}

.categories, .products {
    width: 60%;
}

.categories li {
    background-color: rgb(149, 252, 217);
    border-radius: 8px;
}

.categories li:hover {
    background-color: rgb(95, 235, 188);
}

.products li {
    background-color: rgb(205, 175, 255);
    border-radius: 8px;
}

.products li:hover {
    background-color: rgb(182, 146, 240);
}

.info {
    margin: 20px 20px;
    padding: 10%;
    overflow: scroll;
    background-color: rgb(226, 209, 255);
    border-radius: 8px;
    min-height: 50vh;
}

.info button {
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 174, 17);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.message {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1.5rem;
    padding: 5%;
    background-color: rgb(226, 209, 255);
    border-radius: 8px;
    animation: blink 2s ease-in-out 1;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
  }